MULTIPLAYER_HOST=0.0.0.0
MULTIPLAYER_PORT=8787
MULTIPLAYER_WS_PATH=/ws
MULTIPLAYER_MAX_WS_PAYLOAD_BYTES=65536
MULTIPLAYER_ALLOWED_ORIGINS=https://florian-glay.github.io,http://localhost:5173,http://127.0.0.1:5173,http://192.168.1.50:5173

